.first {
    width: 800px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    position: relative;
}

.second {
    width: 560px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#load {
    /* 隐藏 */
    opacity: 0; 
}

#loadLabel {
    font-weight: 300;
    font-size: 18px;
}

/* for textarea */
#display {
    font-size: .8rem;
    letter-spacing: 1px;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;

    overflow: scroll;
}

/* for noun and verb */
.wordiness {
    clear: both;
    width: 560px;

    font-weight: 200;
    font-size: 22px;
    font-family: 微软雅黑;

    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#content {
    height: 300px;
    overflow: scroll;
}

.cbox {
    float: left;

    width: 145px;
    padding-left: 30px;
    padding-bottom: 3px;
    padding-top: 3px;

    font-family: 微软雅黑 Light;
}

#icon {
    position: absolute;
    top: 4px;
    left: -26px;
}